@font-face {
  font-family: "InstructureIcons-Line";
  src: url('./InstructureIcons-Line.eot');
  src: url('./InstructureIcons-Line.eot?#iefix') format('eot'),
    url('./InstructureIcons-Line.woff') format('woff'),
    url('./InstructureIcons-Line.ttf') format('truetype'),
    url('./InstructureIcons-Line.svg#InstructureIcons-Line') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-line:before {
  display: inline-block;
  font-family: "InstructureIcons-Line";
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-line-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-line-2x { font-size: 2em; }
.icon-line-3x { font-size: 3em; }
.icon-line-4x { font-size: 4em; }
.icon-line-5x { font-size: 5em; }
.icon-line-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-line-add:before { content: "\EA01" }
.icon-line-address-book:before { content: "\EA02" }
.icon-line-admin:before { content: "\EA03" }
.icon-line-alerts:before { content: "\EA04" }
.icon-line-analytics:before { content: "\EA05" }
.icon-line-android:before { content: "\EA06" }
.icon-line-annotate:before { content: "\EA07" }
.icon-line-announcement:before { content: "\EA08" }
.icon-line-apple:before { content: "\EA09" }
.icon-line-arrow-down:before { content: "\EA0A" }
.icon-line-arrow-left:before { content: "\EA0B" }
.icon-line-arrow-open-down:before { content: "\EA0C" }
.icon-line-arrow-open-left:before { content: "\EA0D" }
.icon-line-arrow-open-right:before { content: "\EA0E" }
.icon-line-arrow-open-up:before { content: "\EA0F" }
.icon-line-arrow-right:before { content: "\EA10" }
.icon-line-arrow-up:before { content: "\EA11" }
.icon-line-assignment:before { content: "\EA12" }
.icon-line-audio:before { content: "\EA13" }
.icon-line-bank:before { content: "\EA14" }
.icon-line-blueprint-lock:before { content: "\EA15" }
.icon-line-blueprint:before { content: "\EA16" }
.icon-line-bold:before { content: "\EA17" }
.icon-line-bookmark:before { content: "\EA18" }
.icon-line-box:before { content: "\EA19" }
.icon-line-bullet-list:before { content: "\EA1A" }
.icon-line-calendar-add:before { content: "\EA1B" }
.icon-line-calendar-clock:before { content: "\EA1C" }
.icon-line-calendar-day:before { content: "\EA1D" }
.icon-line-calendar-days:before { content: "\EA1E" }
.icon-line-calendar-month:before { content: "\EA1F" }
.icon-line-calendar-reserved:before { content: "\EA20" }
.icon-line-chat:before { content: "\EA21" }
.icon-line-check-dark:before { content: "\EA22" }
.icon-line-check-mark:before { content: "\EA23" }
.icon-line-check-plus:before { content: "\EA24" }
.icon-line-check:before { content: "\EA25" }
.icon-line-clear-text-formatting:before { content: "\EA26" }
.icon-line-clock:before { content: "\EA27" }
.icon-line-cloud-download:before { content: "\EA28" }
.icon-line-cloud-lock:before { content: "\EA29" }
.icon-line-collapse:before { content: "\EA2A" }
.icon-line-collection-save:before { content: "\EA2B" }
.icon-line-collection:before { content: "\EA2C" }
.icon-line-commons:before { content: "\EA2D" }
.icon-line-complete:before { content: "\EA2E" }
.icon-line-compose:before { content: "\EA2F" }
.icon-line-copy-course:before { content: "\EA30" }
.icon-line-copy:before { content: "\EA31" }
.icon-line-courses:before { content: "\EA32" }
.icon-line-dashboard:before { content: "\EA33" }
.icon-line-deactivate-user:before { content: "\EA34" }
.icon-line-discussion-check:before { content: "\EA35" }
.icon-line-discussion-new:before { content: "\EA36" }
.icon-line-discussion-reply-2:before { content: "\EA37" }
.icon-line-discussion-reply-dark:before { content: "\EA38" }
.icon-line-discussion-reply:before { content: "\EA39" }
.icon-line-discussion-search:before { content: "\EA3A" }
.icon-line-discussion-x:before { content: "\EA3B" }
.icon-line-discussion:before { content: "\EA3C" }
.icon-line-document:before { content: "\EA3D" }
.icon-line-download:before { content: "\EA3E" }
.icon-line-drag-handle:before { content: "\EA3F" }
.icon-line-drop-down:before { content: "\EA40" }
.icon-line-edit:before { content: "\EA41" }
.icon-line-educators:before { content: "\EA42" }
.icon-line-email:before { content: "\EA43" }
.icon-line-empty:before { content: "\EA44" }
.icon-line-end:before { content: "\EA45" }
.icon-line-equation:before { content: "\EA46" }
.icon-line-equella:before { content: "\EA47" }
.icon-line-essay:before { content: "\EA48" }
.icon-line-expand-items:before { content: "\EA49" }
.icon-line-expand-left:before { content: "\EA4A" }
.icon-line-expand:before { content: "\EA4B" }
.icon-line-export-content:before { content: "\EA4C" }
.icon-line-export:before { content: "\EA4D" }
.icon-line-external-link:before { content: "\EA4E" }
.icon-line-eye:before { content: "\EA4F" }
.icon-line-facebook-boxed:before { content: "\EA50" }
.icon-line-facebook:before { content: "\EA51" }
.icon-line-fast-forward:before { content: "\EA52" }
.icon-line-feedback:before { content: "\EA53" }
.icon-line-file-locked:before { content: "\EA54" }
.icon-line-files-copyright:before { content: "\EA55" }
.icon-line-files-creative-commons:before { content: "\EA56" }
.icon-line-files-fair-use:before { content: "\EA57" }
.icon-line-files-obtained-permission:before { content: "\EA58" }
.icon-line-files-public-domain:before { content: "\EA59" }
.icon-line-filmstrip:before { content: "\EA5A" }
.icon-line-flag:before { content: "\EA5B" }
.icon-line-folder-locked:before { content: "\EA5C" }
.icon-line-folder:before { content: "\EA5D" }
.icon-line-forward:before { content: "\EA5E" }
.icon-line-github:before { content: "\EA5F" }
.icon-line-gradebook-export:before { content: "\EA60" }
.icon-line-gradebook-import:before { content: "\EA61" }
.icon-line-gradebook:before { content: "\EA62" }
.icon-line-group-dark-new:before { content: "\EA63" }
.icon-line-group-new:before { content: "\EA64" }
.icon-line-group:before { content: "\EA65" }
.icon-line-hamburger:before { content: "\EA66" }
.icon-line-heart:before { content: "\EA67" }
.icon-line-highlighter:before { content: "\EA68" }
.icon-line-home:before { content: "\EA69" }
.icon-line-hour-glass:before { content: "\EA6A" }
.icon-line-image:before { content: "\EA6B" }
.icon-line-import-content:before { content: "\EA6C" }
.icon-line-import:before { content: "\EA6D" }
.icon-line-in-progress:before { content: "\EA6E" }
.icon-line-inbox:before { content: "\EA6F" }
.icon-line-indent-2:before { content: "\EA70" }
.icon-line-indent:before { content: "\EA71" }
.icon-line-info:before { content: "\EA72" }
.icon-line-instructure:before { content: "\EA73" }
.icon-line-integrations:before { content: "\EA74" }
.icon-line-invitation:before { content: "\EA75" }
.icon-line-italic:before { content: "\EA76" }
.icon-line-keyboard-shortcuts:before { content: "\EA77" }
.icon-line-launch:before { content: "\EA78" }
.icon-line-life-preserver:before { content: "\EA79" }
.icon-line-like:before { content: "\EA7A" }
.icon-line-link:before { content: "\EA7B" }
.icon-line-linkedin:before { content: "\EA7C" }
.icon-line-lock:before { content: "\EA7D" }
.icon-line-lti:before { content: "\EA7E" }
.icon-line-mark-as-read:before { content: "\EA7F" }
.icon-line-marker:before { content: "\EA80" }
.icon-line-masquerade:before { content: "\EA81" }
.icon-line-mastery-paths:before { content: "\EA82" }
.icon-line-materials-required-light:before { content: "\EA83" }
.icon-line-materials-required:before { content: "\EA84" }
.icon-line-mature-light:before { content: "\EA85" }
.icon-line-mature:before { content: "\EA86" }
.icon-line-media:before { content: "\EA87" }
.icon-line-message:before { content: "\EA88" }
.icon-line-mini-arrow-down:before { content: "\EA89" }
.icon-line-mini-arrow-left:before { content: "\EA8A" }
.icon-line-mini-arrow-right:before { content: "\EA8B" }
.icon-line-mini-arrow-up:before { content: "\EA8C" }
.icon-line-minimize:before { content: "\EA8D" }
.icon-line-module:before { content: "\EA8E" }
.icon-line-more:before { content: "\EA8F" }
.icon-line-move-down-bottom:before { content: "\EA90" }
.icon-line-move-down:before { content: "\EA91" }
.icon-line-move-left:before { content: "\EA92" }
.icon-line-move-right:before { content: "\EA93" }
.icon-line-move-up-top:before { content: "\EA94" }
.icon-line-move-up:before { content: "\EA95" }
.icon-line-ms-excel:before { content: "\EA96" }
.icon-line-ms-ppt:before { content: "\EA97" }
.icon-line-ms-word:before { content: "\EA98" }
.icon-line-muted:before { content: "\EA99" }
.icon-line-next-unread:before { content: "\EA9A" }
.icon-line-not-graded:before { content: "\EA9B" }
.icon-line-note-dark:before { content: "\EA9C" }
.icon-line-note-light:before { content: "\EA9D" }
.icon-line-note:before { content: "\EA9E" }
.icon-line-numbered-list:before { content: "\EA9F" }
.icon-line-off:before { content: "\EAA0" }
.icon-line-open-folder:before { content: "\EAA1" }
.icon-line-outcomes:before { content: "\EAA2" }
.icon-line-outdent:before { content: "\EAA3" }
.icon-line-outdent2:before { content: "\EAA4" }
.icon-line-overdue:before { content: "\EAA5" }
.icon-line-page-down:before { content: "\EAA6" }
.icon-line-page-up:before { content: "\EAA7" }
.icon-line-paint:before { content: "\EAA8" }
.icon-line-paperclip:before { content: "\EAA9" }
.icon-line-partial:before { content: "\EAAA" }
.icon-line-pause:before { content: "\EAAB" }
.icon-line-pdf:before { content: "\EAAC" }
.icon-line-peer-graded:before { content: "\EAAD" }
.icon-line-peer-review:before { content: "\EAAE" }
.icon-line-pin:before { content: "\EAAF" }
.icon-line-pinterest:before { content: "\EAB0" }
.icon-line-play:before { content: "\EAB1" }
.icon-line-plus:before { content: "\EAB2" }
.icon-line-post-to-sis:before { content: "\EAB3" }
.icon-line-prerequisite:before { content: "\EAB4" }
.icon-line-printer:before { content: "\EAB5" }
.icon-line-publish:before { content: "\EAB6" }
.icon-line-question:before { content: "\EAB7" }
.icon-line-quiz-stats-avg:before { content: "\EAB8" }
.icon-line-quiz-stats-cronbachs-alpha:before { content: "\EAB9" }
.icon-line-quiz-stats-deviation:before { content: "\EABA" }
.icon-line-quiz-stats-high:before { content: "\EABB" }
.icon-line-quiz-stats-low:before { content: "\EABC" }
.icon-line-quiz-stats-time:before { content: "\EABD" }
.icon-line-quiz:before { content: "\EABE" }
.icon-line-refresh:before { content: "\EABF" }
.icon-line-remove-bookmark:before { content: "\EAC0" }
.icon-line-remove-from-collection:before { content: "\EAC1" }
.icon-line-remove-link:before { content: "\EAC2" }
.icon-line-replied:before { content: "\EAC3" }
.icon-line-reply-2:before { content: "\EAC4" }
.icon-line-reply-all-2:before { content: "\EAC5" }
.icon-line-reply:before { content: "\EAC6" }
.icon-line-reset:before { content: "\EAC7" }
.icon-line-rewind:before { content: "\EAC8" }
.icon-line-rss-add:before { content: "\EAC9" }
.icon-line-rss:before { content: "\EACA" }
.icon-line-rubric-dark:before { content: "\EACB" }
.icon-line-rubric:before { content: "\EACC" }
.icon-line-save:before { content: "\EACD" }
.icon-line-search-address-book:before { content: "\EACE" }
.icon-line-search:before { content: "\EACF" }
.icon-line-settings-2:before { content: "\EAD0" }
.icon-line-settings:before { content: "\EAD1" }
.icon-line-shape-oval:before { content: "\EAD2" }
.icon-line-shape-polygon:before { content: "\EAD3" }
.icon-line-shape-rectangle:before { content: "\EAD4" }
.icon-line-sis-imported:before { content: "\EAD5" }
.icon-line-sis-not-synced:before { content: "\EAD6" }
.icon-line-sis-synced:before { content: "\EAD7" }
.icon-line-skype:before { content: "\EAD8" }
.icon-line-speed-grader:before { content: "\EAD9" }
.icon-line-standards:before { content: "\EADA" }
.icon-line-star-light:before { content: "\EADB" }
.icon-line-star:before { content: "\EADC" }
.icon-line-stats:before { content: "\EADD" }
.icon-line-stop:before { content: "\EADE" }
.icon-line-strikethrough:before { content: "\EADF" }
.icon-line-student-view:before { content: "\EAE0" }
.icon-line-syllabus:before { content: "\EAE1" }
.icon-line-table:before { content: "\EAE2" }
.icon-line-tag:before { content: "\EAE3" }
.icon-line-target:before { content: "\EAE4" }
.icon-line-text-background-color:before { content: "\EAE5" }
.icon-line-text-centered:before { content: "\EAE6" }
.icon-line-text-color:before { content: "\EAE7" }
.icon-line-text-left:before { content: "\EAE8" }
.icon-line-text-right:before { content: "\EAE9" }
.icon-line-text-subscript:before { content: "\EAEA" }
.icon-line-text-superscript:before { content: "\EAEB" }
.icon-line-text:before { content: "\EAEC" }
.icon-line-textarea:before { content: "\EAED" }
.icon-line-timer:before { content: "\EAEE" }
.icon-line-toggle-left:before { content: "\EAEF" }
.icon-line-toggle-right:before { content: "\EAF0" }
.icon-line-trash:before { content: "\EAF1" }
.icon-line-trouble:before { content: "\EAF2" }
.icon-line-twitter-boxed:before { content: "\EAF3" }
.icon-line-twitter:before { content: "\EAF4" }
.icon-line-underline:before { content: "\EAF5" }
.icon-line-unlock:before { content: "\EAF6" }
.icon-line-unmuted:before { content: "\EAF7" }
.icon-line-unpublish:before { content: "\EAF8" }
.icon-line-unpublished:before { content: "\EAF9" }
.icon-line-updown:before { content: "\EAFA" }
.icon-line-upload:before { content: "\EAFB" }
.icon-line-user-add:before { content: "\EAFC" }
.icon-line-user:before { content: "\EAFD" }
.icon-line-video:before { content: "\EAFE" }
.icon-line-warning:before { content: "\EAFF" }
.icon-line-windows:before { content: "\EB00" }
.icon-line-wordpress:before { content: "\EB01" }
.icon-line-x:before { content: "\EB02" }
.icon-line-zipped:before { content: "\EB03" }
.icon-line-zoom-in:before { content: "\EB04" }
.icon-line-zoom-out:before { content: "\EB05" }
