$icons-Line: (
  add: "\EA01",
  address-book: "\EA02",
  admin: "\EA03",
  alerts: "\EA04",
  analytics: "\EA05",
  android: "\EA06",
  annotate: "\EA07",
  announcement: "\EA08",
  apple: "\EA09",
  arrow-down: "\EA0A",
  arrow-left: "\EA0B",
  arrow-open-down: "\EA0C",
  arrow-open-left: "\EA0D",
  arrow-open-right: "\EA0E",
  arrow-open-up: "\EA0F",
  arrow-right: "\EA10",
  arrow-up: "\EA11",
  assignment: "\EA12",
  audio: "\EA13",
  bank: "\EA14",
  blueprint-lock: "\EA15",
  blueprint: "\EA16",
  bold: "\EA17",
  bookmark: "\EA18",
  box: "\EA19",
  bullet-list: "\EA1A",
  calendar-add: "\EA1B",
  calendar-clock: "\EA1C",
  calendar-day: "\EA1D",
  calendar-days: "\EA1E",
  calendar-month: "\EA1F",
  calendar-reserved: "\EA20",
  chat: "\EA21",
  check-dark: "\EA22",
  check-mark: "\EA23",
  check-plus: "\EA24",
  check: "\EA25",
  clear-text-formatting: "\EA26",
  clock: "\EA27",
  cloud-download: "\EA28",
  cloud-lock: "\EA29",
  collapse: "\EA2A",
  collection-save: "\EA2B",
  collection: "\EA2C",
  commons: "\EA2D",
  complete: "\EA2E",
  compose: "\EA2F",
  copy-course: "\EA30",
  copy: "\EA31",
  courses: "\EA32",
  dashboard: "\EA33",
  deactivate-user: "\EA34",
  discussion-check: "\EA35",
  discussion-new: "\EA36",
  discussion-reply-2: "\EA37",
  discussion-reply-dark: "\EA38",
  discussion-reply: "\EA39",
  discussion-search: "\EA3A",
  discussion-x: "\EA3B",
  discussion: "\EA3C",
  document: "\EA3D",
  download: "\EA3E",
  drag-handle: "\EA3F",
  drop-down: "\EA40",
  edit: "\EA41",
  educators: "\EA42",
  email: "\EA43",
  empty: "\EA44",
  end: "\EA45",
  equation: "\EA46",
  equella: "\EA47",
  essay: "\EA48",
  expand-items: "\EA49",
  expand-left: "\EA4A",
  expand: "\EA4B",
  export-content: "\EA4C",
  export: "\EA4D",
  external-link: "\EA4E",
  eye: "\EA4F",
  facebook-boxed: "\EA50",
  facebook: "\EA51",
  fast-forward: "\EA52",
  feedback: "\EA53",
  file-locked: "\EA54",
  files-copyright: "\EA55",
  files-creative-commons: "\EA56",
  files-fair-use: "\EA57",
  files-obtained-permission: "\EA58",
  files-public-domain: "\EA59",
  filmstrip: "\EA5A",
  flag: "\EA5B",
  folder-locked: "\EA5C",
  folder: "\EA5D",
  forward: "\EA5E",
  github: "\EA5F",
  gradebook-export: "\EA60",
  gradebook-import: "\EA61",
  gradebook: "\EA62",
  group-dark-new: "\EA63",
  group-new: "\EA64",
  group: "\EA65",
  hamburger: "\EA66",
  heart: "\EA67",
  highlighter: "\EA68",
  home: "\EA69",
  hour-glass: "\EA6A",
  image: "\EA6B",
  import-content: "\EA6C",
  import: "\EA6D",
  in-progress: "\EA6E",
  inbox: "\EA6F",
  indent-2: "\EA70",
  indent: "\EA71",
  info: "\EA72",
  instructure: "\EA73",
  integrations: "\EA74",
  invitation: "\EA75",
  italic: "\EA76",
  keyboard-shortcuts: "\EA77",
  launch: "\EA78",
  life-preserver: "\EA79",
  like: "\EA7A",
  link: "\EA7B",
  linkedin: "\EA7C",
  lock: "\EA7D",
  lti: "\EA7E",
  mark-as-read: "\EA7F",
  marker: "\EA80",
  masquerade: "\EA81",
  mastery-paths: "\EA82",
  materials-required-light: "\EA83",
  materials-required: "\EA84",
  mature-light: "\EA85",
  mature: "\EA86",
  media: "\EA87",
  message: "\EA88",
  mini-arrow-down: "\EA89",
  mini-arrow-left: "\EA8A",
  mini-arrow-right: "\EA8B",
  mini-arrow-up: "\EA8C",
  minimize: "\EA8D",
  module: "\EA8E",
  more: "\EA8F",
  move-down-bottom: "\EA90",
  move-down: "\EA91",
  move-left: "\EA92",
  move-right: "\EA93",
  move-up-top: "\EA94",
  move-up: "\EA95",
  ms-excel: "\EA96",
  ms-ppt: "\EA97",
  ms-word: "\EA98",
  muted: "\EA99",
  next-unread: "\EA9A",
  not-graded: "\EA9B",
  note-dark: "\EA9C",
  note-light: "\EA9D",
  note: "\EA9E",
  numbered-list: "\EA9F",
  off: "\EAA0",
  open-folder: "\EAA1",
  outcomes: "\EAA2",
  outdent: "\EAA3",
  outdent2: "\EAA4",
  overdue: "\EAA5",
  page-down: "\EAA6",
  page-up: "\EAA7",
  paint: "\EAA8",
  paperclip: "\EAA9",
  partial: "\EAAA",
  pause: "\EAAB",
  pdf: "\EAAC",
  peer-graded: "\EAAD",
  peer-review: "\EAAE",
  pin: "\EAAF",
  pinterest: "\EAB0",
  play: "\EAB1",
  plus: "\EAB2",
  post-to-sis: "\EAB3",
  prerequisite: "\EAB4",
  printer: "\EAB5",
  publish: "\EAB6",
  question: "\EAB7",
  quiz-stats-avg: "\EAB8",
  quiz-stats-cronbachs-alpha: "\EAB9",
  quiz-stats-deviation: "\EABA",
  quiz-stats-high: "\EABB",
  quiz-stats-low: "\EABC",
  quiz-stats-time: "\EABD",
  quiz: "\EABE",
  refresh: "\EABF",
  remove-bookmark: "\EAC0",
  remove-from-collection: "\EAC1",
  remove-link: "\EAC2",
  replied: "\EAC3",
  reply-2: "\EAC4",
  reply-all-2: "\EAC5",
  reply: "\EAC6",
  reset: "\EAC7",
  rewind: "\EAC8",
  rss-add: "\EAC9",
  rss: "\EACA",
  rubric-dark: "\EACB",
  rubric: "\EACC",
  save: "\EACD",
  search-address-book: "\EACE",
  search: "\EACF",
  settings-2: "\EAD0",
  settings: "\EAD1",
  shape-oval: "\EAD2",
  shape-polygon: "\EAD3",
  shape-rectangle: "\EAD4",
  sis-imported: "\EAD5",
  sis-not-synced: "\EAD6",
  sis-synced: "\EAD7",
  skype: "\EAD8",
  speed-grader: "\EAD9",
  standards: "\EADA",
  star-light: "\EADB",
  star: "\EADC",
  stats: "\EADD",
  stop: "\EADE",
  strikethrough: "\EADF",
  student-view: "\EAE0",
  syllabus: "\EAE1",
  table: "\EAE2",
  tag: "\EAE3",
  target: "\EAE4",
  text-background-color: "\EAE5",
  text-centered: "\EAE6",
  text-color: "\EAE7",
  text-left: "\EAE8",
  text-right: "\EAE9",
  text-subscript: "\EAEA",
  text-superscript: "\EAEB",
  text: "\EAEC",
  textarea: "\EAED",
  timer: "\EAEE",
  toggle-left: "\EAEF",
  toggle-right: "\EAF0",
  trash: "\EAF1",
  trouble: "\EAF2",
  twitter-boxed: "\EAF3",
  twitter: "\EAF4",
  underline: "\EAF5",
  unlock: "\EAF6",
  unmuted: "\EAF7",
  unpublish: "\EAF8",
  unpublished: "\EAF9",
  updown: "\EAFA",
  upload: "\EAFB",
  user-add: "\EAFC",
  user: "\EAFD",
  video: "\EAFE",
  warning: "\EAFF",
  windows: "\EB00",
  wordpress: "\EB01",
  x: "\EB02",
  zipped: "\EB03",
  zoom-in: "\EB04",
  zoom-out: "\EB05"
);