$icons-Solid: (
  add: "\EA01",
  address-book: "\EA02",
  alert: "\EA03",
  analytics: "\EA04",
  android: "\EA05",
  announcement: "\EA06",
  apple: "\EA07",
  arrow-down: "\EA08",
  arrow-left: "\EA09",
  arrow-open-down: "\EA0A",
  arrow-open-left: "\EA0B",
  arrow-open-right: "\EA0C",
  arrow-open-up: "\EA0D",
  arrow-right: "\EA0E",
  arrow-up: "\EA0F",
  assignment: "\EA10",
  audio: "\EA11",
  bookmark: "\EA12",
  box: "\EA13",
  calendar-add: "\EA14",
  calendar-day: "\EA15",
  calendar-days: "\EA16",
  calendar-month: "\EA17",
  calendar-reserved: "\EA18",
  chat: "\EA19",
  check-dark: "\EA1A",
  check-mark: "\EA1B",
  check-plus: "\EA1C",
  check: "\EA1D",
  clock: "\EA1E",
  cloud-lock: "\EA1F",
  collapse-nav: "\EA20",
  collapse: "\EA21",
  collection-save: "\EA22",
  collection: "\EA23",
  commons: "\EA24",
  complete: "\EA25",
  compose: "\EA26",
  copy-course: "\EA27",
  copy: "\EA28",
  courses: "\EA29",
  discussion-check: "\EA2A",
  discussion-new: "\EA2B",
  discussion-reply-2: "\EA2C",
  discussion-reply-dark: "\EA2D",
  discussion-reply: "\EA2E",
  discussion-search: "\EA2F",
  discussion-x: "\EA30",
  discussion: "\EA31",
  document: "\EA32",
  download: "\EA33",
  drag-handle: "\EA34",
  drop-down: "\EA35",
  edit: "\EA36",
  educators: "\EA37",
  email: "\EA38",
  empty: "\EA39",
  end: "\EA3A",
  equation: "\EA3B",
  equella: "\EA3C",
  expand-items: "\EA3D",
  expand-nav: "\EA3E",
  expand: "\EA3F",
  export-content: "\EA40",
  export: "\EA41",
  eye: "\EA42",
  facebook-boxed: "\EA43",
  facebook: "\EA44",
  files-copyright: "\EA45",
  files-creative-commons: "\EA46",
  files-fair-use: "\EA47",
  files-obtained-permission: "\EA48",
  files-public-domain: "\EA49",
  filmstrip: "\EA4A",
  flag: "\EA4B",
  folder-locked: "\EA4C",
  folder: "\EA4D",
  forward: "\EA4E",
  github: "\EA4F",
  gradebook-export: "\EA50",
  gradebook-import: "\EA51",
  gradebook: "\EA52",
  group-dark-new: "\EA53",
  group-new: "\EA54",
  group: "\EA55",
  hamburger: "\EA56",
  heart: "\EA57",
  highlighter: "\EA58",
  home: "\EA59",
  hour-glass: "\EA5A",
  image: "\EA5B",
  import-content: "\EA5C",
  import: "\EA5D",
  indent-2: "\EA5E",
  indent: "\EA5F",
  info: "\EA60",
  instructure: "\EA61",
  integrations: "\EA62",
  invitation: "\EA63",
  keyboard-shortcuts: "\EA64",
  like: "\EA65",
  link: "\EA66",
  linkedin: "\EA67",
  lock: "\EA68",
  lti: "\EA69",
  mark-as-read: "\EA6A",
  marker: "\EA6B",
  masquerade: "\EA6C",
  mastery-path: "\EA6D",
  materials-required-light: "\EA6E",
  materials-required: "\EA6F",
  mature-light: "\EA70",
  mature: "\EA71",
  media: "\EA72",
  message: "\EA73",
  mini-arrow-down: "\EA74",
  mini-arrow-left: "\EA75",
  mini-arrow-right: "\EA76",
  mini-arrow-up: "\EA77",
  minimize: "\EA78",
  module: "\EA79",
  more: "\EA7A",
  move-down-bottom: "\EA7B",
  move-down: "\EA7C",
  move-up-top: "\EA7D",
  move-up: "\EA7E",
  ms-excel: "\EA7F",
  ms-ppt: "\EA80",
  ms-word: "\EA81",
  muted: "\EA82",
  next-unread: "\EA83",
  not-graded: "\EA84",
  note-dark: "\EA85",
  note-light: "\EA86",
  off: "\EA87",
  outcomes: "\EA88",
  outdent: "\EA89",
  outdent2: "\EA8A",
  paint: "\EA8B",
  paperclip: "\EA8C",
  partial: "\EA8D",
  pdf: "\EA8E",
  peer-graded: "\EA8F",
  peer-review: "\EA90",
  pin: "\EA91",
  pinterest: "\EA92",
  plus: "\EA93",
  post-to-sis: "\EA94",
  prerequisite: "\EA95",
  printer: "\EA96",
  publish: "\EA97",
  question: "\EA98",
  quiz-stats-avg: "\EA99",
  quiz-stats-deviation: "\EA9A",
  quiz-stats-high: "\EA9B",
  quiz-stats-low: "\EA9C",
  quiz-stats-time: "\EA9D",
  quiz: "\EA9E",
  refresh: "\EA9F",
  remove-bookmark: "\EAA0",
  remove-from-collection: "\EAA1",
  replied: "\EAA2",
  reply-2: "\EAA3",
  reply-all-2: "\EAA4",
  reply: "\EAA5",
  reset: "\EAA6",
  rss-add: "\EAA7",
  rss: "\EAA8",
  rubric-dark: "\EAA9",
  rubric: "\EAAA",
  search-address-book: "\EAAB",
  search: "\EAAC",
  settings-2: "\EAAD",
  settings: "\EAAE",
  sis-imported: "\EAAF",
  sis-not-synced: "\EAB0",
  sis-synced: "\EAB1",
  skype: "\EAB2",
  speed-grader: "\EAB3",
  standards: "\EAB4",
  star-light: "\EAB5",
  star: "\EAB6",
  stats: "\EAB7",
  strikethrough: "\EAB8",
  student-view: "\EAB9",
  syllabus: "\EABA",
  table: "\EABB",
  tag: "\EABC",
  target: "\EABD",
  text-centered: "\EABE",
  text-left: "\EABF",
  text-right: "\EAC0",
  text: "\EAC1",
  textarea: "\EAC2",
  timer: "\EAC3",
  toggle-left: "\EAC4",
  toggle-right: "\EAC5",
  trash: "\EAC6",
  trouble: "\EAC7",
  twitter-boxed: "\EAC8",
  twitter: "\EAC9",
  unlock: "\EACA",
  unmuted: "\EACB",
  unpublish: "\EACC",
  unpublished: "\EACD",
  updown: "\EACE",
  upload: "\EACF",
  user-add: "\EAD0",
  user: "\EAD1",
  video: "\EAD2",
  warning: "\EAD3",
  windows: "\EAD4",
  wordpress: "\EAD5",
  x: "\EAD6",
  zipped: "\EAD7",
  zoom-in: "\EAD8",
  zoom-out: "\EAD9"
);