$icons-Solid: (
  add: "\EA01",
  address-book: "\EA02",
  alert: "\EA03",
  analytics: "\EA04",
  android: "\EA05",
  announcement: "\EA06",
  apple: "\EA07",
  arrow-down: "\EA08",
  arrow-left: "\EA09",
  arrow-open-down: "\EA0A",
  arrow-open-left: "\EA0B",
  arrow-open-right: "\EA0C",
  arrow-open-up: "\EA0D",
  arrow-right: "\EA0E",
  arrow-up: "\EA0F",
  assignment: "\EA10",
  audio: "\EA11",
  bookmark: "\EA12",
  box: "\EA13",
  calendar-add: "\EA14",
  calendar-day: "\EA15",
  calendar-days: "\EA16",
  calendar-month: "\EA17",
  calendar-reserved: "\EA18",
  check-dark: "\EA19",
  check-mark: "\EA1A",
  check-plus: "\EA1B",
  check: "\EA1C",
  clock: "\EA1D",
  cloud-lock: "\EA1E",
  collapse: "\EA1F",
  collection-save: "\EA20",
  collection: "\EA21",
  commons: "\EA22",
  complete: "\EA23",
  compose: "\EA24",
  copy-course: "\EA25",
  copy: "\EA26",
  courses: "\EA27",
  discussion-check: "\EA28",
  discussion-new: "\EA29",
  discussion-reply-2: "\EA2A",
  discussion-reply-dark: "\EA2B",
  discussion-reply: "\EA2C",
  discussion-search: "\EA2D",
  discussion-x: "\EA2E",
  discussion: "\EA2F",
  document: "\EA30",
  download: "\EA31",
  drag-handle: "\EA32",
  drop-down: "\EA33",
  edit: "\EA34",
  educators: "\EA35",
  email: "\EA36",
  empty: "\EA37",
  end: "\EA38",
  equation: "\EA39",
  equella: "\EA3A",
  expand-items: "\EA3B",
  expand: "\EA3C",
  export-content: "\EA3D",
  export: "\EA3E",
  eye: "\EA3F",
  facebook-boxed: "\EA40",
  facebook: "\EA41",
  files-copyright: "\EA42",
  files-creative-commons: "\EA43",
  files-fair-use: "\EA44",
  files-obtained-permission: "\EA45",
  files-public-domain: "\EA46",
  filmstrip: "\EA47",
  flag: "\EA48",
  folder-locked: "\EA49",
  folder: "\EA4A",
  forward: "\EA4B",
  github: "\EA4C",
  gradebook-export: "\EA4D",
  gradebook-import: "\EA4E",
  gradebook: "\EA4F",
  group-dark-new: "\EA50",
  group-new: "\EA51",
  group: "\EA52",
  hamburger: "\EA53",
  heart: "\EA54",
  highlighter: "\EA55",
  home: "\EA56",
  hour-glass: "\EA57",
  image: "\EA58",
  import-content: "\EA59",
  import: "\EA5A",
  indent-2: "\EA5B",
  indent: "\EA5C",
  info: "\EA5D",
  instructure: "\EA5E",
  integrations: "\EA5F",
  invitation: "\EA60",
  keyboard-shortcuts: "\EA61",
  like: "\EA62",
  link: "\EA63",
  linkedin: "\EA64",
  lock: "\EA65",
  lti: "\EA66",
  mark-as-read: "\EA67",
  marker: "\EA68",
  masquerade: "\EA69",
  mastery-path: "\EA6A",
  materials-required-light: "\EA6B",
  materials-required: "\EA6C",
  mature-light: "\EA6D",
  mature: "\EA6E",
  media: "\EA6F",
  message: "\EA70",
  mini-arrow-down: "\EA71",
  mini-arrow-left: "\EA72",
  mini-arrow-right: "\EA73",
  mini-arrow-up: "\EA74",
  minimize: "\EA75",
  module: "\EA76",
  more: "\EA77",
  move-down-bottom: "\EA78",
  move-down: "\EA79",
  move-up-top: "\EA7A",
  move-up: "\EA7B",
  ms-excel: "\EA7C",
  ms-ppt: "\EA7D",
  ms-word: "\EA7E",
  muted: "\EA7F",
  next-unread: "\EA80",
  not-graded: "\EA81",
  note-dark: "\EA82",
  note-light: "\EA83",
  off: "\EA84",
  outdent: "\EA85",
  outdent2: "\EA86",
  paint: "\EA87",
  paperclip: "\EA88",
  partial: "\EA89",
  pdf: "\EA8A",
  peer-graded: "\EA8B",
  peer-review: "\EA8C",
  pin: "\EA8D",
  pinterest: "\EA8E",
  plus: "\EA8F",
  post-to-sis: "\EA90",
  prerequisite: "\EA91",
  printer: "\EA92",
  publish: "\EA93",
  question: "\EA94",
  quiz-stats-avg: "\EA95",
  quiz-stats-deviation: "\EA96",
  quiz-stats-high: "\EA97",
  quiz-stats-low: "\EA98",
  quiz-stats-time: "\EA99",
  quiz: "\EA9A",
  refresh: "\EA9B",
  remove-from-collection: "\EA9C",
  replied: "\EA9D",
  reply-2: "\EA9E",
  reply-all-2: "\EA9F",
  reply: "\EAA0",
  reset: "\EAA1",
  rss-add: "\EAA2",
  rss: "\EAA3",
  rubric-dark: "\EAA4",
  rubric: "\EAA5",
  search-address-book: "\EAA6",
  search: "\EAA7",
  settings-2: "\EAA8",
  settings: "\EAA9",
  sis-not-synced: "\EAAA",
  sis-synced: "\EAAB",
  skype: "\EAAC",
  speed-grader: "\EAAD",
  standards: "\EAAE",
  star-light: "\EAAF",
  star: "\EAB0",
  stats: "\EAB1",
  strikethrough: "\EAB2",
  student-view: "\EAB3",
  syllabus: "\EAB4",
  table: "\EAB5",
  tag: "\EAB6",
  target: "\EAB7",
  text-centered: "\EAB8",
  text-left: "\EAB9",
  text-right: "\EABA",
  text: "\EABB",
  textarea: "\EABC",
  timer: "\EABD",
  toggle-left: "\EABE",
  toggle-right: "\EABF",
  trash: "\EAC0",
  trouble: "\EAC1",
  twitter-boxed: "\EAC2",
  twitter: "\EAC3",
  unknown2: "\EAC4",
  unlock: "\EAC5",
  unmuted: "\EAC6",
  unpublish: "\EAC7",
  unpublished: "\EAC8",
  updown: "\EAC9",
  upload: "\EACA",
  user-add: "\EACB",
  user: "\EACC",
  video: "\EACD",
  warning: "\EACE",
  windows: "\EACF",
  wordpress: "\EAD0",
  x: "\EAD1",
  zipped: "\EAD2",
  zoom-in: "\EAD3",
  zoom-out: "\EAD4"
);