$icons-Solid: (
  Name: "\EA01",
  add: "\EA02",
  address-book: "\EA03",
  admin: "\EA04",
  analytics: "\EA05",
  android: "\EA06",
  annotate: "\EA07",
  announcement: "\EA08",
  apple: "\EA09",
  arrow-down: "\EA0A",
  arrow-left: "\EA0B",
  arrow-open-down: "\EA0C",
  arrow-open-left: "\EA0D",
  arrow-open-right: "\EA0E",
  arrow-open-up: "\EA0F",
  arrow-right: "\EA10",
  arrow-up: "\EA11",
  assignment: "\EA12",
  audio: "\EA13",
  bank: "\EA14",
  blueprint-lock: "\EA15",
  blueprint: "\EA16",
  bold: "\EA17",
  bookmark: "\EA18",
  box: "\EA19",
  bullet-list: "\EA1A",
  calendar-add: "\EA1B",
  calendar-clock: "\EA1C",
  calendar-day: "\EA1D",
  calendar-days: "\EA1E",
  calendar-month: "\EA1F",
  calendar-reserved: "\EA20",
  chat: "\EA21",
  check-dark: "\EA22",
  check-mark: "\EA23",
  check-plus: "\EA24",
  check: "\EA25",
  clear-text-formatting: "\EA26",
  clock: "\EA27",
  cloud-lock: "\EA28",
  collapse: "\EA29",
  collection-save: "\EA2A",
  collection: "\EA2B",
  commons: "\EA2C",
  complete: "\EA2D",
  compose: "\EA2E",
  copy-course: "\EA2F",
  copy: "\EA30",
  courses: "\EA31",
  dashboard: "\EA32",
  discussion-check: "\EA33",
  discussion-new: "\EA34",
  discussion-reply-2: "\EA35",
  discussion-reply-dark: "\EA36",
  discussion-reply: "\EA37",
  discussion-search: "\EA38",
  discussion-x: "\EA39",
  discussion: "\EA3A",
  document: "\EA3B",
  download: "\EA3C",
  drag-handle: "\EA3D",
  drop-down: "\EA3E",
  edit: "\EA3F",
  educators: "\EA40",
  email: "\EA41",
  empty: "\EA42",
  end: "\EA43",
  equation: "\EA44",
  equella: "\EA45",
  essay: "\EA46",
  expand-items: "\EA47",
  expand-left: "\EA48",
  expand: "\EA49",
  export-content: "\EA4A",
  export: "\EA4B",
  external-link: "\EA4C",
  eye: "\EA4D",
  facebook-boxed: "\EA4E",
  facebook: "\EA4F",
  fast-forward: "\EA50",
  file-locked: "\EA51",
  files-copyright: "\EA52",
  files-creative-commons: "\EA53",
  files-fair-use: "\EA54",
  files-obtained-permission: "\EA55",
  files-public-domain: "\EA56",
  filmstrip: "\EA57",
  flag: "\EA58",
  folder-locked: "\EA59",
  folder: "\EA5A",
  forward: "\EA5B",
  github: "\EA5C",
  gradebook-export: "\EA5D",
  gradebook-import: "\EA5E",
  gradebook: "\EA5F",
  group-dark-new: "\EA60",
  group-new: "\EA61",
  group: "\EA62",
  hamburger: "\EA63",
  heart: "\EA64",
  highlighter: "\EA65",
  home: "\EA66",
  hour-glass: "\EA67",
  image: "\EA68",
  import-content: "\EA69",
  import: "\EA6A",
  inbox: "\EA6B",
  indent-2: "\EA6C",
  indent: "\EA6D",
  info: "\EA6E",
  instructure: "\EA6F",
  integrations: "\EA70",
  invitation: "\EA71",
  italic: "\EA72",
  keyboard-shortcuts: "\EA73",
  launch: "\EA74",
  life-preserver: "\EA75",
  like: "\EA76",
  link: "\EA77",
  linkedin: "\EA78",
  lock: "\EA79",
  lti: "\EA7A",
  mark-as-read: "\EA7B",
  marker: "\EA7C",
  masquerade: "\EA7D",
  mastery-paths: "\EA7E",
  materials-required-light: "\EA7F",
  materials-required: "\EA80",
  mature-light: "\EA81",
  mature: "\EA82",
  media: "\EA83",
  message: "\EA84",
  mini-arrow-down: "\EA85",
  mini-arrow-left: "\EA86",
  mini-arrow-right: "\EA87",
  mini-arrow-up: "\EA88",
  minimize: "\EA89",
  module: "\EA8A",
  more: "\EA8B",
  move-down-bottom: "\EA8C",
  move-down: "\EA8D",
  move-left: "\EA8E",
  move-right: "\EA8F",
  move-up-top: "\EA90",
  move-up: "\EA91",
  ms-excel: "\EA92",
  ms-ppt: "\EA93",
  ms-word: "\EA94",
  muted: "\EA95",
  next-unread: "\EA96",
  not-graded: "\EA97",
  note-dark: "\EA98",
  note-light: "\EA99",
  note: "\EA9A",
  numbered-list: "\EA9B",
  off: "\EA9C",
  open-folder: "\EA9D",
  outcomes: "\EA9E",
  outdent: "\EA9F",
  outdent2: "\EAA0",
  page-down: "\EAA1",
  page-up: "\EAA2",
  paint: "\EAA3",
  paperclip: "\EAA4",
  partial: "\EAA5",
  pause: "\EAA6",
  pdf: "\EAA7",
  peer-graded: "\EAA8",
  peer-review: "\EAA9",
  pin: "\EAAA",
  pinterest: "\EAAB",
  play: "\EAAC",
  plus: "\EAAD",
  post-to-sis: "\EAAE",
  prerequisite: "\EAAF",
  printer: "\EAB0",
  publish: "\EAB1",
  question: "\EAB2",
  quiz-stats-avg: "\EAB3",
  quiz-stats-deviation: "\EAB4",
  quiz-stats-high: "\EAB5",
  quiz-stats-low: "\EAB6",
  quiz-stats-time: "\EAB7",
  quiz: "\EAB8",
  refresh: "\EAB9",
  remove-bookmark: "\EABA",
  remove-from-collection: "\EABB",
  remove-link: "\EABC",
  replied: "\EABD",
  reply-2: "\EABE",
  reply-all-2: "\EABF",
  reply: "\EAC0",
  reset: "\EAC1",
  rewind: "\EAC2",
  rss-add: "\EAC3",
  rss: "\EAC4",
  rubric-dark: "\EAC5",
  rubric: "\EAC6",
  save: "\EAC7",
  search-address-book: "\EAC8",
  search: "\EAC9",
  settings-2: "\EACA",
  settings: "\EACB",
  shape-oval: "\EACC",
  shape-polygon: "\EACD",
  shape-rectangle: "\EACE",
  sis-imported: "\EACF",
  sis-not-synced: "\EAD0",
  sis-synced: "\EAD1",
  skype: "\EAD2",
  speed-grader: "\EAD3",
  standards: "\EAD4",
  star-light: "\EAD5",
  star: "\EAD6",
  stats: "\EAD7",
  stop: "\EAD8",
  strikethrough: "\EAD9",
  student-view: "\EADA",
  syllabus: "\EADB",
  table: "\EADC",
  tag: "\EADD",
  target: "\EADE",
  text-background-color: "\EADF",
  text-centered: "\EAE0",
  text-color: "\EAE1",
  text-left: "\EAE2",
  text-right: "\EAE3",
  text-subscript: "\EAE4",
  text-superscript: "\EAE5",
  text: "\EAE6",
  textarea: "\EAE7",
  timer: "\EAE8",
  toggle-left: "\EAE9",
  toggle-right: "\EAEA",
  trash: "\EAEB",
  trouble: "\EAEC",
  twitter-boxed: "\EAED",
  twitter: "\EAEE",
  underline: "\EAEF",
  unlock: "\EAF0",
  unmuted: "\EAF1",
  unpublish: "\EAF2",
  unpublished: "\EAF3",
  updown: "\EAF4",
  upload: "\EAF5",
  user-add: "\EAF6",
  user: "\EAF7",
  video: "\EAF8",
  warning: "\EAF9",
  windows: "\EAFA",
  wordpress: "\EAFB",
  x: "\EAFC",
  zipped: "\EAFD",
  zoom-in: "\EAFE",
  zoom-out: "\EAFF"
);